[Desktop Entry]
Categories=Utility;TextEditor;Development;IDE;
Comment=Code Editing. Redefined.
Exec=code --enable-features=UseOzonePlatform --ozone-platform=wayland %F
GenericName=Text Editor
Icon=code
MimeType=text/plain;inode/directory;
Name=Visual Studio Code
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=Code
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=code ---enable-features=UseOzonePlatform --ozone-platform=wayland -new-window %F
Icon=code

