* {
    /* `otf-font-awesome` is required to be installed for icons */
    border: none;
    border-radius: 0;
    font-size: 16px;
    margin: 0;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-duration: .5s;
}

window#waybar.chromium {
    /* background-color: #000000; */
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    font-family: 'IPAPMincho';
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

#workspaces button:hover {
    background-color: #ECEFF4;
    color: #2E3440;
}

#workspaces button.focused {
    color: #88C0D0;
}

#workspaces button.urgent {
    background-color: #BF616A;
}

#window,
#mode
{
    font-family: 'FiraMono Nerd Font';
}

#mode {
    background-color: transparent;
    color: #B48EAD;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#custom-media,
#tray,
#mpd {
    border-radius: 15px;
    font-family: 'FiraMono Nerd Font';
    padding: 5 15px;
    color: #ECEFF4;
    margin-left: 3px;
}

.modules-left {
    border-radius: 15px;
    padding: 5 15px;
    background-color: #3B4252;
    color: #ffffff;
    margin: 0 0px;
}

.modules-right {
    background-color: transparent;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* COMPONENTS HERE */

#clock {
    background-color: #3B4252;
}

#battery {
    background-color: #4C566A;
    color: #ECEFF4;
}

#battery.charging, #battery.plugged {
    color: #ECEFF4;
    background-color: #A3BE8C;
}

@keyframes blink {
    to {
        background-color: #4C566A;
        color: #ECEFF4;
    }
}

#battery.critical:not(.charging) {
    background-color: #BF616A;
    color: #ECEFF4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #4C566A;
    color: #ECEFF4;
}

#memory {
    background-color: #3B4252;
}

#disk {
    background-color: #964B00;
}

#network {
    background-color: #3B4252;
}

#network.disconnected {
    background-color: #BF616A;
}

#pulseaudio {
    background-color: #4C566A;
    color: #ECEFF4;
}

#pulseaudio.muted {
    background-color: #EBCB8B;
    color: #3B4252;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

/* #language {
    background: #00b093;
    color: #740864;
    padding: 0 10px;
    margin: 0 0px;
    min-width: 20px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 0px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 0px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
} */

/* #idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
} */

/* #temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
} */

/* #backlight {
    background-color: #90b1b1;
} */