#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Exodus
Comment=Secure, manage, and trade blockchain assets.
Exec=Exodus %u
Icon=exodus.png
Terminal=false
MimeType=x-scheme-handler/exodus;
Categories=Utility;Network;Finance;
Encoding=UTF-8
